
body {
	margin:0 auto;
	width:1000px;
	background:#fff;
	font-family:'Open Sans', sans-serif;
}
a {
	color:white;
	text-decoration:none;
}

a:hover {
	color:#14D9B5;
	text-decoration:underline;
}
header {
	
	min-height:100px;
	color:#fff;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom-color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;  
}

header h1 {
	margin:0 5%;
	font-size:3.75em;
	font-family:'Lobster', cursive;
	font-weight:600;
	line-height:2em;
}
header nav ul{
	padding:0;
	margin:0 4%;
}
header nav li {
	list-style-type:none;
	display:inline-block;
	margin:0 1% 10px 0;
	text-align:center;

}
header nav li a{
	background:black;
	padding:3px 12px;
}
header nav li a.active{
	background:#14D9B5;
	text-decoration:none;
	color:#fff;
}
header nav li a:hover{
    
	text-decoration:none;
	background:#14D9B5;
	color:white;
    border-radius: 15%;
	
}


p{font-family: 'ABeeZee', sans-serif;
    line-height: 1.6;}


footer  li {
	list-style-type:none;
	display:inline-block;
	margin:0 1% 10px 0;
	text-align:center;
    padding-top: 50px;
    color: black;
    
}
footer #socialmedia2{
    padding-top: 15px;
}
footer{
    border-top: solid;
}
.bottom li a{
    color: black;
    font-size: 13.8px;
    
}