#full
{
    background-image: url(../images/balloons.jpg);
    min-height: 700px;
	width: 100%;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    align-items: center;
	padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}
#full .button
{
    font-size: 25px;
    text-decoration: none;
    color:black;
    word-spacing:0;
    border:4px solid;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight:700;
    
}

#full .button:hover{
       color:white;
}

#full .discover h1{
    text-shadow: 2px 2px black;
    font-size: 3.5em;
    color: white;
    font-family: 'Archivo', sans-serif;

    
    }
body{
	margin:0px;
	padding:0px;
}
h1{
    text-align: center;
    font-size: 40px;}



p{font-size:20px;}
    
.container
{
    width: 100%;
    font-size: 16px;
    color: black;
    }
.row{
    display:flex;
}
.col{
    width: 100%;
    padding: 15px;
}
.w-67{
    width: 67%;
}
.w-33{
    width: 33%;
    
}
.w-100{
    width: 100%;

}
.roww{
    display:flex;
}
.coll{
    width: 100%;
    padding: 15px;
}

#regret{padding-top: 40px;
    font-size: 25px;
    font-family: 'Neucha', cursive;

}
.more{
padding-top: 10px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 30px;
    text-shadow: .7px .7px ;
    text-align: center;
    justify-content: center;
}